LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/accept.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/accept4.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/bind.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/connect.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/dn_comp.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/dn_expand.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/dn_skipname.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/dns_parse.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/ent.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/ether.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/freeaddrinfo.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/gai_strerror.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/getaddrinfo.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/gethostbyaddr.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/gethostbyaddr_r.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/gethostbyname.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/gethostbyname2.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/gethostbyname2_r.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/gethostbyname_r.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/getifaddrs.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/getnameinfo.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/getpeername.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/getservbyname.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/getservbyname_r.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/getservbyport.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/getservbyport_r.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/getsockname.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/getsockopt.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/h_errno.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/herror.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/hstrerror.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/htonl.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/htons.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/if_freenameindex.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/if_indextoname.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/if_nameindex.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/if_nametoindex.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/in6addr_any.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/in6addr_loopback.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/inet_addr.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/inet_aton.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/inet_legacy.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/inet_ntoa.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/inet_ntop.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/inet_pton.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/listen.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/lookup_ipliteral.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/lookup_name.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/lookup_serv.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/netlink.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/netname.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/ns_parse.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/ntohl.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/ntohs.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/proto.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/recv.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/recvfrom.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/recvmmsg.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/recvmsg.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/res_init.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/res_mkquery.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/res_msend.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/res_query.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/res_querydomain.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/res_send.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/res_state.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/resolvconf.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/send.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/sendmmsg.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/sendmsg.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/sendto.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/serv.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/setsockopt.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/shutdown.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/sockatmark.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/socket.c
LIBMUSL_SRCS-y += $(LIBMUSL)/src/network/socketpair.c
