LIBMUSL_NETWORK_HDRS-y += $(LIBMUSL)/include/arpa/inet.h
LIBMUSL_NETWORK_HDRS-y += $(LIBMUSL)/include/arpa/nameser.h
LIBMUSL_NETWORK_HDRS-y += $(LIBMUSL)/include/byteswap.h
LIBMUSL_NETWORK_HDRS-y += $(LIBMUSL)/include/ctype.h
LIBMUSL_NETWORK_HDRS-y += $(LIBMUSL)/include/errno.h
LIBMUSL_NETWORK_HDRS-y += $(LIBMUSL)/include/fcntl.h
LIBMUSL_NETWORK_HDRS-y += $(LIBMUSL)/include/ifaddrs.h
LIBMUSL_NETWORK_HDRS-y += $(LIBMUSL)/include/inttypes.h
LIBMUSL_NETWORK_HDRS-y += $(LIBMUSL)/src/internal/libc.h
LIBMUSL_NETWORK_HDRS-y += $(LIBMUSL)/include/limits.h
LIBMUSL_NETWORK_HDRS-y += $(LIBMUSL)/src/internal/locale_impl.h
LIBMUSL_NETWORK_HDRS-y += $(LIBMUSL)/src/network/lookup.h
LIBMUSL_NETWORK_HDRS-y += $(LIBMUSL)/include/netdb.h
LIBMUSL_NETWORK_HDRS-y += $(LIBMUSL)/include/net/ethernet.h
LIBMUSL_NETWORK_HDRS-y += $(LIBMUSL)/include/net/if.h
LIBMUSL_NETWORK_HDRS-y += $(LIBMUSL)/include/net/if_arp.h
LIBMUSL_NETWORK_HDRS-y += $(LIBMUSL)/include/netinet/ether.h
LIBMUSL_NETWORK_HDRS-y += $(LIBMUSL)/include/netinet/if_ether.h
LIBMUSL_NETWORK_HDRS-y += $(LIBMUSL)/include/netinet/in.h
LIBMUSL_NETWORK_HDRS-y += $(LIBMUSL)/include/netinet/tcp.h
LIBMUSL_NETWORK_HDRS-y += $(LIBMUSL)/src/network/netlink.h
LIBMUSL_NETWORK_HDRS-y += $(LIBMUSL)/include/poll.h
LIBMUSL_NETWORK_HDRS-y += $(LIBMUSL)/include/pthread.h
LIBMUSL_NETWORK_HDRS-y += $(LIBMUSL)/include/resolv.h
LIBMUSL_NETWORK_HDRS-y += $(LIBMUSL)/include/stddef.h
LIBMUSL_NETWORK_HDRS-y += $(LIBMUSL)/include/stdint.h
LIBMUSL_NETWORK_HDRS-y += $(LIBMUSL)/include/stdio.h
LIBMUSL_NETWORK_HDRS-y += $(LIBMUSL)/src/internal/stdio_impl.h
LIBMUSL_NETWORK_HDRS-y += $(LIBMUSL)/include/stdlib.h
LIBMUSL_NETWORK_HDRS-y += $(LIBMUSL)/include/string.h
LIBMUSL_NETWORK_HDRS-y += $(LIBMUSL)/src/internal/syscall.h
LIBMUSL_NETWORK_HDRS-y += $(LIBMUSL)/include/sys/ioctl.h
LIBMUSL_NETWORK_HDRS-y += $(LIBMUSL)/include/sys/un.h
LIBMUSL_NETWORK_HDRS-y += $(LIBMUSL)/include/time.h
LIBMUSL_NETWORK_HDRS-y += $(LIBMUSL)/include/unistd.h

LIBMUSL_NETWORK_HDRS-y += $(LIBMUSL)/include/sys/socket.h

LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/socket.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/accept.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/accept4.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/bind.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/shutdown.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/getpeername.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/getsockname.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/getsockopt.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/setsockopt.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/connect.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/listen.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/recv.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/recvfrom.c
# LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/recvmmsg.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/recvmsg.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/send.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/sendmsg.c
# LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/sendmmsg.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/sendto.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/socketpair.c

LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/dn_comp.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/dn_expand.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/dn_skipname.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/dns_parse.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/ent.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/ether.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/freeaddrinfo.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/gai_strerror.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/getaddrinfo.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/gethostbyaddr.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/gethostbyaddr_r.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/gethostbyname.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/gethostbyname2.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/gethostbyname2_r.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/gethostbyname_r.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/getifaddrs.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/getnameinfo.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/getservbyname.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/getservbyname_r.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/getservbyport.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/getservbyport_r.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/h_errno.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/herror.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/hstrerror.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/htonl.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/htons.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/if_freenameindex.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/if_indextoname.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/if_nameindex.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/if_nametoindex.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/in6addr_any.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/in6addr_loopback.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/inet_addr.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/inet_aton.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/inet_legacy.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/inet_ntoa.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/inet_ntop.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/inet_pton.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/lookup_ipliteral.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/lookup_name.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/lookup_serv.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/netlink.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/netname.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/ns_parse.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/ntohl.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/ntohs.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/proto.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/res_init.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/res_mkquery.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/res_msend.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/res_query.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/res_querydomain.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/res_send.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/res_state.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/resolvconf.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/serv.c
LIBMUSL_NETWORK_SRCS-y += $(LIBMUSL)/src/network/sockatmark.c

$(eval $(call _libmusl_import_lib,network,$(LIBMUSL_NETWORK_HDRS-y),$(LIBMUSL_NETWORK_SRCS-y)))
